@model IEnumerable<MvcBlog.Models.Post>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Каталог статей.</p>
</div>

<div>
    @foreach (var post in Model)
    {
        <div class="card">
            <div class="card-body">
                <div class="text-center">
                    <img src="@post.ImagePath" class="card-img-top" alt="Post @post.Name image" style="width:200px; height:250px">
                </div>
                <h5 class="card-title">@post.Name</h5>
                <p class="card-text">@post.ShortDescription</p>
                <p class="card-text text-muted">
                    @foreach(var tag in post.Tags)
                    {
                        <span>@tag.Name</span>
                    }
                </p>
            </div>
        </div>
    }
</div>

